@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section CustomHeader{
    <h2>Browse</h2>

}

<table class="result">
    <thead>
    <td>Title</td>
    <td>User</td>
    <td>Rating</td>
    <td>Popularity</td>
    <td>Language</td>
    </thead>
    <tr>
        <td><a href="#">Lorem Ipsum S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Lorem Ipsum S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Lorem Ipsum S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Lorem Ipsum S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Lorem Ipsum S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Game Of Thrones S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Game Of Thrones S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Game Of Thrones S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Game Of Thrones S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>
    <tr>
        <td><a href="#">Game Of Thrones S04E05</a></td>
        <td>Nonni</td>
        <td><img src="~/gfx/stars.png" alt="Rating"></td>
        <td>1.204</td>
        <td>
            <a href="#"><img src="~/gfx/flag_is.png" alt="Download Icelandic translation"></a>&nbsp;
            <a href="#"><img src="~/gfx/flag_uk.png" alt="Download Icelandic translation"></a>
        </td>
    </tr>

</table>
